# Environment variables
.env
.env.local
.env.*.local

# Node (if you add Vite or any npm tools later)
node_modules/
dist/   
.vite/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log